:root{
    --backcolor: rgb(188, 214, 242);
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-container{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(107, 164, 176);
    align-items: center;
    justify-content: start;
    background: var(--backcolor);
    padding: 10px 40px 40px 40px;
}
.grades-inputs{
    text-align: center;
    justify-content: center;
}
label{
    text-justify:inherit ;
}
.grades-inputs{
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto 15% 30% 15%;
    justify-items: space-between;
    align-items: space-between;
    gap: 5px;
}
.output-items{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center; 
}
button{
    margin: 40px;
    border-radius: 4px;
    width: 140px;
    height: 30px;
}
.p-result{
    border: 1px solid black;
    display: inline-block;
    width: 45px;
    height: 25px;
    text-align: center;
    margin: 5px;
}
