:root{
    --backcolor: rgb(188, 214, 242);
}
.module-body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner-box{
    display: grid;
    grid-template-columns: 28% 15% 23% 15%;
    grid-template-rows: auto auto auto auto;
    grid-column-start: 2;
    width: auto;
    background: var(--backcolor);
    gap: 10px;
    border: 3px solid rgb(107, 164, 176);
    align-items: center;
    justify-content: center;
    padding: 30px 0 20px 0;
}
#blank{
    grid-area: 1/3/1/5;
}
input{
    height: 50%;
    margin: 5px;
    text-align: end;
}
.installment-result{
    grid-area: 5/1/5/5;
    justify-self: center;
    align-items: center;
    margin: 25px 0 15px 0;
    font-weight: bold;
    display: grid;
    grid-template-columns: 55% 35%;
}
table{
    margin-top: 40px;
    margin-bottom: 100px;
    background: rgb(201, 220, 241);
    text-align: right;
}
tr:nth-child(1), tr:nth-last-child(1){
    font-weight: bold;
    background: rgb(68, 112, 142);
    color: white;
}
td{
    width: 125px;
}
td:nth-child(1){text-align: left;}
tr:nth-child(1){text-align: center; }
tr:nth-child(even){
    background: white;
}
#table-button{
    width: 100px;
    height: 35px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    background:rgb(234, 234, 234);
    text-align: center;
}
#table-button:hover{
    font-weight: bold;
    background: var(--text-input-field);
}