:root{
    --lg: 18px;
    --sm: 14px;
    --md: 16px;
}
body{
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
.title{
    font-weight: bold;
    font-size: var(--lg);
}
form{
    border-radius: 8px;
    border: 5px solid darkcyan;
    padding: 25px;
    margin: 40px 0 35px 0;
}
.formbox{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section form label{
    margin: 0 10px 24px;
}
section form input{
    margin-bottom: 24px;
}
h2, p{
    text-align: center;
}
button:hover{
    border-style: 2px solid;
    font-weight: bold;
}
.image{
    width: 100%;
}
.image img{
    margin: 0px 50px 0px 50px;
}
#discountBox{
    left: 45%;
    position: absolute;
    font-size: var(--lg);
    font-weight: bold;
    color: white;
}
