:root{
    --lg: 18px;
    --sm: 14px;
    --md: 16px;
    --backcolor: rgb(188, 214, 242);
}
body{
    background: rgba(219, 219, 219, 0.905);
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    width: 60%;
}
h1{font-size: 35px;}
h2{align-self: center;}
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    border: 2px solid darkcyan;
    background: var(--backcolor);
}
section > form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
input, button{
    width: 60%;
    height: 25px;
    margin: 4px 0 4px 0;
    box-sizing: border-box;
}
.fill-button{
    align-self: center;
}
button:hover{
    font-weight: bold;
    border: 3px solid black;
}
.list1{
    display: inline-block;
    width: 50%;
}
.list2{
    display: inline-block;
    width: 50%;
}
ol {
    align-content: center;
    display: flex;
    justify-content: center;
}
ol li{
    align-self: center;
}
section > span{
    width: 60%;
    margin: 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid rgb(115, 120, 120);
    align-self: center;
    align-items: center;
}
.p-result{
    border: 2px solid darkcyan;
    width: 100px;
    height: 25px;
    display: inline-block;
}
#mode-result{
    width: 80%;
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}
#top-result{
    width: 110%;
}